aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
aistudio-sdk==0.2.6
albucore==0.0.13
albumentations==1.4.10
annotated-types==0.7.0
anyio==4.6.2.post1
astor==0.8.1
async-timeout==5.0.1
attrs==24.2.0
babel==2.16.0
bce-python-sdk==0.9.23
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.35.68
botocore==1.35.68
bottle==0.13.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
colorlog==6.9.0
common==0.1.2
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
data==0.4
datasets==3.1.0
decorator==5.1.1
dill==0.3.4
dual==0.1.0
dynamo3==0.4.10
easydict==1.13
exceptiongroup==1.2.2
fastapi==0.115.5
ffmpy==0.4.0
filelock==3.16.1
fire==0.7.0
Flask==3.1.0
flask-babel==4.0.0
flywheel==0.5.4
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.9.0
funcsigs==1.0.2
future==1.0.0
gradio==5.6.0
gradio_client==1.4.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
imageio==2.36.0
imgaug==0.4.0
itsdangerous==2.2.0
jieba==0.42.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
lmdb==1.5.1
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
multidict==6.1.0
multiprocess==0.70.12.2
networkx==3.4.2
numpy==1.26.4
onnx==1.17.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
orjson==3.10.12
packaging==24.2
paddle==1.0.2
paddle2onnx==1.3.0
paddlefsl==1.1.0
paddlehub==2.4.0
paddlenlp==2.8.1
paddleocr==2.9.1
paddlepaddle==2.6.2
pandas==2.2.3
peewee==3.17.8
pillow==11.0.0
prettytable==3.12.0
propcache==0.2.0
protobuf==5.28.3
prox==0.0.17
psutil==6.1.0
pyarrow==18.0.0
pybind11==2.13.6
pyclipper==1.3.0.post6
pycryptodome==3.21.0
pydantic==2.10.1
pydantic_core==2.27.1
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-geoip-python3==1.3
python-multipart==0.0.12
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
RapidFuzz==3.10.1
rarfile==4.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruff==0.8.0
s3transfer==0.10.4
safehttpx==0.1.1
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
semantic-version==2.10.0
sentencepiece==0.2.0
seqeval==1.2.2
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.41.3
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tight==0.1.0
tomli==2.1.0
tomlkit==0.12.0
tool_helpers==0.1.2
tqdm==4.67.0
typer==0.13.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.32.1
visualdl==2.5.3
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.1.3
xxhash==3.5.0
yarl==1.18.0
